%clearfix{
	&:after,
	&:before {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin input-placeholder($color){
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;  
  }
  &::-moz-placeholder { 
    color: $color;  
  }
  &:-ms-input-placeholder {  
    color: $color;  
  }
}

@mixin btn($btn-background, $btn-color){
  background-color: $btn-background;
  border-color: $btn-background;
  border-bottom: 3px solid darken($btn-background, 10%);
  font-weight: $sm-font-weight;
  text-transform: uppercase;
  color: $btn-color;
  &:focus, 
  &:hover,
  &:active{
    outline: none;
    background-color: darken($btn-background, 5%);
    border-color: darken($btn-background, 5%);
    border-bottom: 3px solid darken($btn-background, 10%);
  }
}

@mixin btn-round($btn-background){
  padding: 0px;
  text-align: center;
  background: transparent;
  border-radius: 100%;
  border: 2px solid $btn-background;
  color: $btn-background;
  &:hover,
  &:focus{
      background: lighten($btn-background, 5%);
      border: 2px solid $btn-background;
      color: #fff;
  }
}

@mixin alert($alert-color){
  border-left: 4px solid $alert-color;
  border-color: $alert-color;
  color: darken($alert-color, 5%);
  background: lighten($alert-color, 40%);
  position: relative;
  strong{
    display: block;
    text-transform: uppercase;
    font-size: $md-font-size;
  }
  .close{
    position: absolute;
    top: 10px;
    right: 15px;
  }
}

@mixin label($label-background, $label-color){
  background-color: $label-background;
  border-color: $label-background;
  border-radius: 15px;
  padding: 2px 20px;
  text-transform: uppercase;
  font-size: $xs-font-size;
  font-weight: $xs-font-weight;
}

@mixin label_round($label-color){
  background: transparent;
  border: 1px solid $label-color;
  color: $label-color;
}

@mixin label_link($label-background, $label-color){
  &:focus, 
  &:hover,
  &:active{
    outline: none;
    background-color: darken($label-background, 10%) !important;
    border-color: darken($label-background, 10%) !important;
  }
}
