.header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    width: 100%;
}
.main{
    margin-top: 100px;
}
.footer{
    padding-bottom: 25px;
}
.form-btn-group{
    margin-top: 25px;
    margin-bottom: 0px;
}
.row-search{
    .form-group{
        margin-bottom: 0px;
        .input-group{
            .form-control{
                background-color: #E0E2E5;
                border-color: #E0E2E5;
                box-shadow: none;
            }
            .input-group-btn .btn-default{
                border: 1px solid #E0E2E5;
            }
        }
    }
}

.row-filter{
    .form-group{
        margin-bottom: 0px;
        .btn{
            margin-top: 24px;
        }
    }
}

.section-listing{
    .table{
        tr th{
            text-transform: uppercase;
        }
        tr td,
        tr th{
            vertical-align: middle;
        }
        tr th:first-child,
        tr td:first-child{
            padding-left: 20px;
        }
        tr th:last-child,
        tr td:last-child{
            padding-right: 20px;
        }
    }
    .pagination{
        margin: 0px;
    }
    .pagination-info{
        font-size: $xs-font-size;
        margin-bottom: 0px;
        margin-top: 10px;
    }
}

.btn-filter{
    border: 1px solid #ccc;
    background: #fff;
    color: $text-color;
    &:hover,
    &:focus{
        border: 1px solid #ccc;
        background: #eee;
        color: $text-color;
    }
}

.btn-round{
    border: 2px solid #ddd;
    color: $primary-color;
    padding: 0px;
    height: 35px;
    width: 35px;
    line-height: 32px;
    text-align: center;
    border-radius: 100%;
    i{
        margin: 0px;
        font-size: 16px;
    }
    &:hover,
    &:focus{
        background: #eee;
        border: 2px solid #ddd;
        color: darken($primary-color, 10%);
    }
}

.list{
    @extend %clearfix;
    i{
        color: $light-text-color;
    }
    &-img{
        width: 75px;
        height: 75px;
        overflow: hidden;
        float: left;
        margin-right: 15px;
        > img{
            width: 100%;
            height: auto;
        }
    }
    &-title{
        font-family: $title-font;
        font-size: $md-font-size;
        font-weight: $lg-font-weight;
        color: $dark-text-color;
        margin-bottom: 5px;
        padding: 6px 0px 2px 0px;
    }
    &-text{
        font-family: $text-font;
        font-size: $sm-font-size;
        font-weight: $sm-font-weight;
        color: $text-color;
        margin-bottom: 5px;
    }
    &-info{
        font-family: $text-font;
        font-size: $xs-font-size;
        color: $text-color;
        margin-bottom: 5px;
        > span{
            padding: 0px 10px;
            border-right: 1px solid #ddd;
            &:first-child{
                padding-left: 0px;
            }
            &:last-child{
                padding-right: 0px;
                border-right: none;
            }
        }
    }
}