/* THEME-COLOR DEFINATION */
$primary-color: #f7c931;
$accent-color: #7B48B6;

/* EXTRA-COLOR DEFINATION */
$highlight-color: #DC8937;
$balance-color: #3D8697;
$calm-color: #af6ab0;
$positive-color: #46B663;
$assertive-color: #F46F5E;
$dark-color: #87919F;
$shade-color: #AABAAE;
$divider-color: #CCD0D4;

/* BACKGROUND-COLOR DEFINATION */
$background: #E0E2E5;
$dark-background: #4F5156;
$light-background: #f4f4f4;

/* TEXT-COLOR DEFINATION */
$text-color: #3D4246;
$light-text-color: #A1A4AB;
$dark-text-color: #2C343F;

/* FUNCTION-COLOR DEFINATION */
$default-color: #A1A4AB;
$success-color: #63dc3f;
$warning-color: #eda515;
$danger-color: #ff2801;
$info-color: #00a7d4;

/* FONT-SIZE DEFINATION */
$xl-font-size: 28px;
$lg-font-size: 22px;
$md-font-size: 16px;
$sm-font-size: 14px;
$xs-font-size: 12px;

/* FONT-WEIGHT DEFINATION */
$xl-font-weight: 900;
$lg-font-weight: 700;
$md-font-weight: 500;
$sm-font-weight: 400;
$xs-font-weight: 300;

/* FONT-FAMILY DEFINATION */
$heading-font: 'Poppins', sans-serif;
$title-font: 'Noto Sans', sans-serif;
$text-font: 'Roboto', sans-serif;
